@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll-bar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scroll-bar::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
